@media screen and (min-width: 768px) {
    .section-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        padding: 16px;
    }

    .text,
    section img {
        width: 100%;
        max-width: 100%;
    }
}

/* Responsivo a partir de 992px (notebook e desktop) */
@media screen and (min-width: 992px) {

    .text-center h2{
        font-size: 40px;
        width: 370px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h2{
        text-align: start;
        font-size: 40px;
    }

    .header-content {
        text-align: center;
        align-items: center;
    }

    .header-content h1 {
        font-size: 56px;
        width: 315px;
    }

    .header-content p {
        max-width: 757px;
    }

    .buttons {
        flex-direction: row;
        height: auto;
        justify-content: center;
        align-items: center;
    }

    section,
    .section-content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }

    .text {
        flex: 1;
        text-align: left;
        max-width: 350px;
    }

    .text-center {
        text-align: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    section img,
    #content-extra img {
        flex: 1;
        width: 500px;
        height: auto;
        max-width: 785px;
    }

    /* Alternar layout nas seções pares */
    section:nth-child(even) .section-content {
        flex-direction: row-reverse;
    }

    #content-extra {
        display: flex;
        flex-direction: column;
        max-width: 800px;
        margin: auto;
        gap: 0;
    }

    #tecnologia-conexao p,
    #content-extra p {
        width: 800px;
    }
}
